body {
  --bases-map-embed-height: 400px;
  --bases-map-marker-background: var(--interactive-accent);
  --bases-map-marker-icon-color: white;
  --bases-map-blend-mode: normal;
}

.advanced-list-entry-separator {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-top: 3px solid var(--interactive-accent);
}

.bases-list-property {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.bases-list-property-label {
  font-weight: bold;
  color: var(--text-muted);
}